<h1>Companies#show</h1>
<p>Find me in app/views/companies/show.html.erb</p>
<%= @company.id %>
<%= @company.company_name %>
<%= @company.company_number %>
<%= @company.address %>
<%= @company.accounts %>
<%= @company.overdue %>
<%= @company.has_charges %>
<%= @company.has_insolvency_history %>
<%= @company.jurisdiction %>
<%= @company.date_of_creation %>
<%= @company.company_status %>
<%= @company.last_made_up_to %>
<%= @company.sic_codes %>